* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-width: 1000px;
    background-color: white;
    padding: 1em;
    margin: 0 auto;
}

.page {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    box-shadow: 0 0 20px lightgray;
}

.container {
    padding: 0 1em;
}

.setup {

}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}
.setup .question-preview{
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 0 0 10px black, 0 0 10px gray;
}
.setup-form {
    width:100%;
    height:fit-content;
    padding:1em;
}
.setup-input--container{
    width:50%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1em;
    margin:0 auto;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.input-label--container{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding:.5em;
    background-color: white;
}
.form-label{
    flex-basis: 50%;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.form-select{
    flex-basis: 50%;
    font-size: 1rem;
}
.form-option{

}
.btn-container{
    flex-basis: 100%;
    text-align: center;
}
.submit-btn{
    border:none;
    padding: .5em 1em;
    background-color: green;
    color:white;
}
.submit-btn:hover{
    background-color: white;
    color:green;
    border:1px solid green;
}

/* add new question button */

.add-question--container {
    align-self: flex-end;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
    background-color: white;
}

.question-type--container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em;
    position: relative;
}

.question-type--label {
    font-size: .7rem;
    font-weight: bold;
    background-color: white;
    border: 1px solid green;
    padding: .2em .5em;
}

.question-type--select {
    border: none;
    border-bottom: 1px solid green;
}

.add-question--symbol {
    flex-basis: 30%;
    height: 25px;
    border-left: 2px solid green;
    background-color: lightgreen;
    position: relative;
    cursor: pointer;
}

.add-question--symbol::before,
.add-question--symbol::after {
    content: '';
    position: absolute;
    background-color: white;
}

.add-question--symbol::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 3px;
}

.add-question--symbol::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 80%;
}

.options .add-question--symbol {
    flex-basis: 5%;
    height: 20px;
    border: 2px solid green;
}


/* QUESTION CONTAINER */

.questions-container {
    width: 100%;
    padding: .5em .5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: white;
}

.question, .pregnant-question--setup-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5em;
    background-color: lightgray;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

.question-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.q-number {
    font-size: 1.1rem;
}

.select-container {
    flex-basis: 100%;
    order: 1;
    text-align: right;
    margin-top: .5em;
}

.q-type {}

.tools {
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .2em;
}

.save,
.edit,
.delete,
.preview {
    width:fit-content;
    font-size: .8rem;
    border-right: 2px solid gray;
    padding: 0 .2em;
}

.save {
    color: green;
}

.edit {
    color: gray;
}

.delete {
    color: red;
}
.preview{
    color:black;
}

.view-mode {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: .5em;
}

.question-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.question-input--container {
    width: 100%;
    height: 35px;
}

.question-input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
}

.question-input,
.answer-textarea,
.form-input {
    font-size: 1rem;
    font-family: sans-serif;
    padding: .3em;
    border: none;
}

.answer-input--container {
    width: 100%;
}

.answer-textarea {
    width: 100%;
    height: 100%;
}

.preview-mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5em;
}

.question-preview,
.answer-preview--text {
    font-size: 1rem;
    font-family: sans-serif;
    color: rgb(22, 21, 21);
}

.question-preview {
    font-size: 1.1rem;
}

.answer-preview {
    width: 97%;
    border-top: 1px solid gray;
    padding-top: .5em;
    margin-left: .5em;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: .5em;
}

.option-item {
    height: 30px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2em 0;
    background-color: white;
    border: 1.5px solid gray;
}

.choose-answer {
    margin: 0 .2em;
    cursor: pointer;
}

.option-input {
    flex: 1;
    height: 100%;
    border: none;
    border-left: 1px solid gray;
    padding: 0 .3em;
    font-size: 1rem;
}

.remove {
    height: 100%;
    background-color: white;
    color: red;
    padding: 0 .2em;
    border-left: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remove:hover {
    background-color: red;
    color: white;
}

.options-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.option-preview--item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
}

.option-preview--checkbox {
    position: relative;
}

.option-preview--checkbox::after {
    content: '';
    width: 65%;
    height: 65%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid red;
}

.option-preview--checkbox[checked]::after {
    border: 2px solid green;
}

.option-preview--text {}

.correct-opt p {
    /* color: green; */
}


/* END */


/* PREGNANT QUESTION */

.pregnant-question--container {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2em;
    padding: .5em 0;
    /* border-top: 2px solid gray; */
    border-bottom: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(110, 184, 50);
}
.pregnant-question--container .add-question--container{
    align-self: flex-start;
}
.pregnant-question--list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1em;
}

.pregnant-question--img {
    display: block;
    width: 95%;
    margin: 0 auto;
    padding: .5em;
    border: 2px solid green;
}

.pregnant-question--bottom {
    display: flex;
}

.question-img--input {}

.question-range--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range-desc--label {
    color: green;
}

.range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.from-container {
    display: flex;
}

.from-label {}

.from-label,
.to-label {
    font-size: .9rem;
}

.from-input {}

.from-input,
.to-input {
    width: 40px;
}

.to-container {}

.to-label {}

.to-input {}

.hidden {
    display: none;
}